body {
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
}

h1 {
  width: 100%;

  display: block;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;

  font-family: "Roboto Mono", monospace;
  font-family: "Source Code Pro", monospace;
  color: #708098;
}
h2 {
  padding: 25px;
  font-family: "Roboto Mono", monospace;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
}
#city {
  padding: 0 20px;
}
#submiting {
  padding: 0 20px;
}
.shape {
  font-family: "Roboto Mono", monospace;
  font-family: "Source Code Pro", monospace;
  border: 2px solid rgb(224, 203, 203);
  border-radius: 20px;
 margin: 0 auto;
 padding-bottom: 20px;
 padding-left: 20px;
 padding-right: 20px;
 
}
#temp {
  font-size: 30px;
  font-weight: bold;
}

#time {
  text-decoration: underline;
  font-size: 18px;
}
.deg {
  font-size: 37px;
}

.units {
  font-size: 15px;
}
#humidity {
  display: block;
   font-weight: bold;
}
#wind {
 display: block;
   font-weight: bold;
}

#description {
 display: block;
   font-weight: bold;
}